@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-greyish-cyan: hsl(186, 14%, 43%);
  --light-cyan: hsl(185, 41%, 84%);
}
body {
  font-family: "Space Mono", monospace;
}

.App {
  background-color: var(--light-cyan);
  width: 705px;
  height: 100vh;
  margin: 0 auto;
  /* padding: 10px 40px 0 0; */
}

.main-title > h4 {
  margin-top: 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: hsl(186, 14%, 43%);
}

.container {
  background-color: #fff;
  width: 650px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #00000081;
  padding-right: 35px;
  padding: 20px 35px 0 20px;
  margin: 0 auto;
}
.text-start-one {
  text-align: start;
  margin: 15px 35px;
  color: var(--dark-greyish-cyan);
}
